 .platform-win .sidebar-1tnWFu {
    border-radius: 18px;
    margin-right: 7px;
    margin-bottom: 9px;
}

.chat-2ZfjoI {
    border-radius: 18px;
    margin-right: 7px;
    margin-bottom: 9px;
}

.border-2Vy6FN, .tile-2TcwiO {
    border-radius: 18px;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    border-radius: 40px;
}

.container-2oNtJn {
    border-radius: 30px;
  }