/**
 * @name DiscordRedesign
 * @description F34 Redesign
 * @author fedetrifo06
 * @version 0.0.1
 * @authorId 
 * @invite 8zG6V84
 * @donate https://www.paypal.me/fedetrifo06
 * @patreon 
 * @website 
 * @source null://github.com/fedetrifo06
 * @updateUrl null://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.theme.css
 */

 .platform-win .sidebar-1tnWFu {
    border-radius: 18px;
    margin-right: 7px;
    margin-bottom: 9px;
}

.chat-2ZfjoI {
    border-radius: 18px;
    margin-right: 7px;
    margin-bottom: 9px;
}

.border-2Vy6FN, .tile-2TcwiO {
    border-radius: 18px;
}