/**
 * @name DiscordRedesign
 * @description F34 Redesign
 * @author fedetrifo06
 * @authorId 
 * @version 0.0.1.1 
 * @invite 8zG6V84
 * @donate https://www.paypal.me/fedetrifo06
 * @patreon 
 * @website fedetrifo06.github.io
 * @source https://github.com/fedetrifo06/discord-things/blob/main/themes/F34DiscordRedesignSrc.css
 * @updateUrl https://fedetrifo06.github.io/discord-things/themes/F34DiscordRedesign.theme.css
 */

@import url(https://fedetrifo06.github.io/discord-things/themes/F34DiscordRedesignSrc.css);